#content3{
  max-width: 1100px;
  margin: 50px auto;
}

#content3 .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

#content3 .col-25 {
  flex: 25%;
}

#content3 .col-50 {
  flex: 50%;
}

#content3 .col-75 {
  flex: 75%;
}

#content3 .col-25,
#content3 .col-50,
#content3 .col-75 {
  padding: 0 16px;
}

#content3 .container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
#content3 .container{
  flex-direction: column;
}

#content3 input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#content3 label {
  margin-bottom: 10px;
  display: block;
}

#content3 .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

#content3 .btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

#content3 .btn:hover {
  background-color: #45a049;
}

#content3 a {
  color: #2196F3;
}

#content3 hr {
  border: 1px solid lightgrey;
}

#content3 span.price {
  float: right;
  color: grey;
}
